.main-nav {
  display:flex;
  justify-content: space-between;
  padding: 20px

}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;


}

.left-nav > ul > li {
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  padding: 8px;
  cursor:pointer;
  text-transform: uppercase;
}

.right-nav > ul > li {
  font-family: inherit;
  font-size: 18px;

  padding: 1px;

}

.right-nav > ul > li:last-of-type {
  padding: 8px;
  position: relative;


}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
background-color: $light-gray;
}

.left-nav span {
  margin: 10px;
}


.right-nav i {
  font-size: 18px;
  padding: 2px;
}
